/* MessagesComponent's private CSS styles */  
  .clear {
    color: #333;
    background-color: rgb(13, 171, 10);
    margin-bottom: 12px;
    padding: 1rem;
    border-radius: 4px;
    font-size: 1rem;
  }
  .clear:hover {
    color: white;
    background-color: rgb(13, 171, 10);
  }

  .gaming-library .profile-library {
    margin-top: 100px;
    padding: 30px;
    background-color: #b3b3b3;
    border-radius: 23px;
  }

.heading-section h4 {
    font-size: 20px;

    color: #ec6090;
    text-decoration: none;
  }

body .page-content1 {
    
    background-color: #27292a;
    border-radius: 23px;
    padding: 0px 30px;
  }

