<footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright © 2022 <a href="#">CERISoNet</a>. All rights reserved. 
          
          <br>Design: <a href="#" target="_blank" title="free CSS templates">Mr HYAD Yassin</a>  
          <br>Distributed By : <a href="#" target="_blank" >Mr HYAD Yassin</a>
          <br>Morroco : <a href="#" target="_blank" >Semi-Final of the World Cup</a>
        </p>
        </div>
      </div>
    </div>
  </footer>
